In [1]:
import pandas as pd
import matplotlib as plt

In [2]:
business = pd.read_csv('business_list.csv')

In [3]:
business.head()

              business_id  review_count  stars state
0  fweCYi8FmbJXHCqLnwuk8w            16    4.0    OH
1  PZ-LZzSlhSe9utkQYU8pFg            40    4.0    NV
2  BvYU3jvGd0TJ7IyZdfiN2Q            16    3.5    NC
3  PkDghu4aan2_wxrhXjTEgg            16    3.5    AB
4  RFbMVekR8lU9tPJ8sWrwHg            18    4.0    ON

In [4]:
business_ids= business['business_id'].values
business_ids[:5]

array(['fweCYi8FmbJXHCqLnwuk8w', 'PZ-LZzSlhSe9utkQYU8pFg',
       'BvYU3jvGd0TJ7IyZdfiN2Q', 'PkDghu4aan2_wxrhXjTEgg',
       'RFbMVekR8lU9tPJ8sWrwHg'], dtype=object)

In [5]:
review_reader=pd.read_json('review.json', lines=True, chunksize=100000)

In [6]:
%%time
reviews = [review.loc[review['business_id'].apply(lambda x: x in business_ids)] for review in review_reader]

Wall time: 33min 9s

In [7]:
type(reviews)

list

In [8]:
len(reviews)

67

In [9]:
reviews=pd.concat(reviews)

In [11]:
type(reviews)

pandas.core.frame.DataFrame

In [14]:
reviews.shape

(594862, 9)

In [15]:
reviews.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
5,eU_713ec6fTGNO4BegRaww,0,2013-01-20 13:25:59,0,fdiNeiN_hoCxCMy2wTRW9g,4,I'll be the first to admit that I was not exci...,0,w31MKYsNFMrjhWxxAb5wIw
12,FxLfqxdYPA6Z85PFKaqLrg,0,2016-05-07 01:36:53,0,Z7wgXp98wYB57QdRY3HQ3w,4,Wow. So surprised at the one and two star revi...,0,GYNnVehQeXjty0xH7-6Fhw
15,YvrylyuWgbP90RgMqZQVnQ,0,2017-04-07 21:27:49,0,svK3nBU7Rk8VfGorlrN52A,5,You can't really find anything wrong with this...,0,NJlxGtouq06hhC7sS2ECYw
19,y-Iw6dZflNix4BdwIyTNGA,0,2014-06-27 21:19:23,0,4bUyL7lzoWzDZaJETAKREg,3,Good selection of classes of beers and mains. ...,0,_N7Ndn29bpll_961oPeEfw
20,qx6WhZ42eDKmBchZDax4dQ,0,2017-03-27 01:14:37,0,Amo5gZBvCuPc_tZNpHwtsA,5,"Our family LOVES the food here. Quick, friendl...",1,DzZ7piLBF-WsJxqosfJgtA

In [16]:
reviews.to_csv('reviews_filtered.csv', index=False)